.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding: 20px;
    margin-top: 100px;
    
}

@media screen and (max-width:992px) {
    .products-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
}
@media screen and (max-width:668px) {
    .products-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}

.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
    
}

.review-button{
    background: #FF9900;
    border-radius: 4px;
    width: 200px;
    height: 48px;
    border: 0px;
    cursor: pointer;
    color: white;
    font-size: 23px;
    
}

.review-icon{
    margin-left: 10px;
    font-size: 23px;
}