.orders-container{
    
   width: 900px;
   height: 107px;
   border-radius: 8px;
   margin: 0 auto;
}

.checkout-button-area{
   display: flex;
   justify-content: space-between;
}

.checkout-button{
   background: #FF9900;
   border-radius: 6px;
   width: 421px;
   height: 56px;
   border: 0px;
   font-family: sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 21px;
   line-height: 25px;
   letter-spacing: 0.0015em;
   color: #FFFFFF;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   cursor: pointer;
}

.checkout-icon{
  font-size: 20px;
  
}
