.header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
   
    
}

.header a{
    text-decoration: none;
    color: white;
    margin-right: 25px;
    font-size: 17px;
}

.header a:hover{
    color: orange
}

.logOut-button{
    margin-left: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: goldenrod;
    border-radius: 10px;
    font-size: medium;
    color: white;
    
}